body{
    margin: 0;
    font-family: "Nunito Sans";
    counter-reset: section;
    overflow-x: hidden;
}

.header{
    background-color: black;
    height: 83px;
}

.header-container{
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 83px;
}

.logo{
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.nav-header-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.nav-header-item{
    margin-right: 47px;
    font-size: 11px;
    line-height: 15px;
    color: white;
    text-decoration: none;
}

.hover:hover{
    color: #E3B873;
}

.contact-number{
    font-size: 11px;
    line-height: 15px;   
    text-decoration-line: underline;
    color: white;
}

.button{
    box-sizing: border-box;
    border: 0;
    padding: 13px 33px; 
    text-transform: uppercase;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: white;
    cursor: pointer;

}
.button-heading{
    height: 37px;
}

.home-section{
    background-image: url(imageslanding/home-image.jpg);
    background-size: cover;
    height: 707px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-overlay{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 707px;
    margin-top: 83px;
}

.home-container{
    width: 1440px;
    position: relative;
    z-index: 1;
    margin: 0 auto;  
}


.home-heading{
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
}

.Yeseva-capital{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
}

.h1-Rostov{
    color: #E3B873;
}

.home-paragraph{
    font-size: 22px;
    line-height: 36px;
    color: white;
}

.home-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.button-transparent{
    background-color: transparent;
    box-shadow: none;
    border: 1px solid white;
}

.projects-section{
    height: 750px;
    background-color: black;
}
.project-wrapper{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 107px;
}

.projects-text{
    margin-top: 100px;
}

.projects-header{
    margin-top: 0;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}



.projects-subheaders{
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.projects-paragraphs{
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 9px;
    text-transform: none;
    font-family: 'Nunito Sans';
}

.mobileimg{
    display: none;
}

.sbhb{
    margin-top: 34px;
}

.projects-text-details{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 75px 75px;
    margin-top: 42px;
}

.arrow-navigation{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    margin-top: 85px;
}

.point{
    cursor: pointer;
}

.projects-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.project-list-header{
    cursor: pointer;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.3);
}

.empty-list{
    margin-top: 4px;   
    width: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bullets{
    width: 10px; 
    height: 10px;
    background: gray;
    border-radius: 50%;
}

.bullets:hover{
    background: white;
}

.black{
    height: 324px;
    background-color: black;
    margin-top: -1px;
}



.types-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobblack{
    height: 520px;
}

.types_header{
    color: #FFFFFF;
    margin-top: -324px;
}

.general-header{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.types-camera{
    margin-bottom: 31px;
}

.types-camera_line{
    padding-bottom: 10px;
}

.types-line{
    margin-top: 62.5px;
}

.types-description{
    margin-top: 34px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    width: 680px;
}

.Nunito{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
}

.types-registrarion{
    width: 800px;
    display: flex;
    justify-content: space-around;

}

.types-description-button{
    padding: 13px 80px;
}

.types-description_input{
    border-bottom: gray solid 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.first-checkbox{
    margin-top: 35px;
}

.label {
    cursor: pointer;
  }
  .checkbox{
    display: none;
  }
  .fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }
  .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }
  .checkbox:checked + .fake::before{
    opacity: 1;
  }

.types-header-projects{
    margin-top: 76px;
    color: #181818;
}

.types-toolimg{
    margin-bottom: 31px;
    max-height: 30px;
    text-align: center;
}

.repair-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}

.types-samplesfoto{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.types-sampesfoto_elements{
    height: 421px;
    width: 392px;
}

.types-desctiption{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.types-description-frame{
    background-color: white;
    margin-top: -120px;
    padding: 25px 29px 30px 0px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    height: 286px;
}

.types-description-frame_heading{
    margin: 0;
    margin-left: 20px;
}

.description-list_items{
    margin-top: 10px;
}

.types-pricing{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types-pricing-frame{
    margin-top: -30px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.types-pricing-frame_heading{
    margin: 0;
    color: white;
}

.measurement{
    margin-top: 120px;
    
}

.measurement-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -600px;
}

.measurement-list-element{
    margin-top: 114px;
    list-style: none;
    text-align:start;
}

.measurement-list-element::before{
    counter-increment: section;                 
    content: "0" counter(section);
    color: white;
    padding: 8px 8px;
    background-color: #E3B873;
    border: white solid 5px;
    border-radius: 50%;
    margin-left: -37px;
}

.measurement-form{
    width: 506px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.black-background{
    color: white;
}

.black-checkbox{
    align-self: flex-start;
    margin-left: 50px;
}


.form-input {
    width: 408px;
    background-color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.form-input::-webkit-input-placeholder{
    color: white;
}

.form-input::-moz-input-placeholder{
    color: white;
}

.form-input::-ms-input-placeholder{
    color: white;
}

.label {
    cursor: pointer;
  }
  .checkbox{
    display: none;
  }
  .fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }
  .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }
  .checkbox:checked + .fake::before{
    opacity: 1;
  }

  .form-description{
      color: white;
  }

  .measurement-savings{
    max-width: 1091px;      
    margin: 0 auto;
    margin-top: 38px;
    display: flex;
    justify-content: flex-end;
  }

  .savings-piggy{
    width: 41px;
    border-radius: 50%;
    padding: 15px;
    background-color: #E3B873;
    margin-right: 25px; 
  }

  .team{
      background-image: url(imageslanding/background2.png);
      height: 864px;
      background-size: cover;
      position: relative;
      margin-top: 242px;
  }

  .team::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 2;
  }

  

.team-container{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.team-container-examples{
    color: white;
}

.fantasies{
    margin-top: 140px;
    margin-bottom: 74px;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

.american-examples{
    list-style: none;
    padding: 0;
}

.american-elements{
    margin-top: 10px;
    font-size: 20px;
    line-height: 38px;
}

.american:hover{
    color: #E3B873;
    text-decoration: underline;
    cursor: pointer;
}

.img-container{
    max-width: 360px;
}

.team-images1{
    margin-top: -42px;
    margin-right: -150px;
}

.team-images2{
    margin-top: -112px;
}

.imgbtm{
    margin-top: 40px;
}

.review{
    margin-top: 110px;
    height: auto;
}

.review-c{
    max-width: 1440px;
    margin: 0 auto; 
}

.review-head{
    margin: 0 auto;
    margin-bottom: 10px;

}

.review-80{
    text-align: center;
    margin-bottom: 50px;
}

.handshake-block{
    margin-top: 25px;
    display: block;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.handshake{
    margin-left: 10px;
    margin-right: 10px;
}


.review-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-ppl{
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    height: 428px;
}

.avatar{
    border-radius: 50%;
}

.pplname{
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.ppl-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pplreview{
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    padding-left: 20px;
    padding-right: 30px;

}

.details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.det{
    color: white;
}

.measpng{
    width: 29px;
    height: 29px;
}

.calpng{
    width: 29px;
    height: 29px;
}

.bordwhite{
    border-right: white solid 1px;
    padding: 20px 15px 20px 0px;
    
}

.detailsreview{
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    height: 58px;
    width: 294px;
    margin-top: -27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.city{
    text-align: center;
    position: relative;
    margin-top: -200px;
   z-index: -1;
}

.contacts{
    background-image: url(imageslanding/lastimg.jpg);
    background-size: cover;
    height: 954px; 
    position: relative;  
}

.contacts::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 2;
  }


.mini{
    width: 14px;
    height: 11px;
}

.contacts-container{
    position: relative;
    z-index: 3;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.questions{
    width: 883px;
    height: 445px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
}

.question-header{
    color: white;
    margin-top: 50px;
}

.cmbinput{
    margin-top: 25px;
    margin-bottom: 40px;
}

.last-input {
    background-color: #181818;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.last-input::-webkit-input-placeholder{
    color: white;
}

.last-input::-moz-input-placeholder{
    color: white;
}

.last-input::-ms-input-placeholder{
    color: white;
}

.margin-right{
    margin-right: 15px;
}

.margin-left{
    margin-left: -4px;
    width: 363px;
}

.check-white{
    color: white;
}

.button-last{
    margin-top: 50px;
}

.contacts-midhead{
    margin-top: 52px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.mini{
    border: solid 2px;
    border-color: #E3B873;
    background-color: #E3B873;
    border-radius: 50%;
    width: 20px;
    height: 17px;
}

.leftimg{
    margin-right: 10px;
}

.rightimg{
    margin-left: 10px;
}

.mailinst{
    margin-bottom: 43px;
}

.map{
    width: 925px;
    height: 465px;
}

.footer{
    background-color: black;
    height: 83px;
}

.mobilehead{
    display: none;
}

.midhead-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}